config.yaml
history.json
client/public.json
client/.vercel
client/*.min.js
client/*.min.csss
statusng/config.yaml
statusng/history.json
statusng/target
statusng/out-*
statusng/output.dat
output.dat
out-private.json
out-public.json
out-public-v2.json
out-public-v1.json
history.dat
statusng/history.dat
/.direnv
