@font-face {
    src: url("./font/Inter-SemiBold.ttf");
    font-family: "Inter";
    font-weight: 600;
}

@font-face {
    src: url("./font/Inter-Medium.ttf");
    font-family: "Inter";
    font-weight: 500;
}

@font-face {
    src: url("./font/Inter-Regular.ttf");
    font-family: "Inter";
    font-weight: 400;
}

:root {
    --theme-main-bg: #ffffff; /* Int UI: Main background */
    --theme-nav-border: #ffffff; /* Int UI: Main background */
    --theme-btn-color: #ffffff; /* Int UI: White */
    --theme-secondary-bg: #f7f8fa; /* Int UI: Secondary background */
    --theme-mono-hover: #f7f8fa; /* Int UI: Secondary background */
    --theme-btn-border: #ebecf0; /* Int UI: Lines and separators */
    --theme-mono-fill: #dfe1e5; /* Int UI: Inactive */
    --theme-mono-active: #dfe1e5; /* Int UI: Inactive */
    --theme-loader-stroke: #a8adbd; /* Int UI: Text on dark bg */
    --theme-nav-bg: #f7f8fa77; /* Int UI: Secondary background */
    --theme-secondary-text: #6f737a; /* Int UI: Secondary text */
    --theme-icon-stroke: #6c707e; /* Int UI: Stroke */
    --theme-link-active: #383a42; /* Int UI: Gray 3 */
    --theme-link-hover: #27282e; /* Int UI: Dark background */
    --theme-main-text: #000000; /* Int UI: Primary text */
    --theme-link-main: #000000; /* Int UI: Primary text */

    --theme-red-bg: #fff2f3; /* Int UI: Red (Fill) */
    --theme-red: #db3b4b; /* Int UI: Red (Primary) */

    --theme-yellow-bg: #fff6de; /* Int UI: Yellow (Target root) */
    --theme-yellow: #ffaf0f; /* Int UI: Yellow (Primary) */

    --theme-green-bg: #e6f7e9; /* Int UI: Green (Test root) */
    --theme-green: #208a3c; /* Int UI: Green (Primary) */

    --theme-blue-bg: #edf3ff; /* Int UI: Blue (Fill) */
    --theme-blue: #3574f0; /* Int UI: Blue (Primary) */
    --theme-blue-dim1: #3369d6; /* Int UI: Blue (Primary - 1) */
    --theme-blue-dim2: #315fbd; /* Int UI: Blue (Primary - 2) */
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-btn-color: #ffffff; /* Int UI: White */
        --theme-main-text: #dfe1e5; /* Int UI: Primary text */
        --theme-link-main: #dfe1e5; /* Int UI: Primary text */
        --theme-link-hover: #ced0d6; /* Int UI: Stroke */
        --theme-icon-stroke: #ced0d6; /* Int UI: Stroke */
        --theme-link-active: #b4b8bf; /* Int UI: Gray 10 */
        --theme-loader-stroke: #868a91; /* Int UI: Text on light bg */
        --theme-secondary-text: #6f737a; /* Int UI: Secondary text */
        --theme-mono-fill: #43454a; /* Int UI: Fill */
        --theme-mono-active: #43454a; /* Int UI: Fill */
        --theme-btn-border: #393b40; /* Int UI: Lines and separators */
        --theme-secondary-bg: #2b2d30; /* Int UI: Secondary background */
        --theme-mono-hover: #2b2d30; /* Int UI: Secondary background */
        --theme-nav-bg: #2b2d3077; /* Int UI: Secondary background */
        --theme-main-bg: #1e1f22; /* Int UI: Main background */
        --theme-nav-border: #1e1f22; /* Int UI: Main background */

        --theme-red: #db5c5c; /* Int UI: Red (Primary) */
        --theme-red-bg: #402929; /* Int UI: Red (Fill) */

        --theme-yellow: #f2c55c; /* Int UI: Yellow (Primary) */
        --theme-yellow-bg: #3d3223; /* Int UI: Yellow (Fill) */

        --theme-green: #5fad65; /* Int UI: Green (Primary) */
        --theme-green-bg: #253627; /* Int UI: Green (Fill) */

        --theme-blue: #3574f0; /* Int UI: Blue (Primary) */
        --theme-blue-dim1: #366acf; /* Int UI: Blue (Primary - 1) */
        --theme-blue-dim2: #375fad; /* Int UI: Blue (Primary - 2) */
        --theme-blue-bg: #25324d; /* Int UI: Blue (Fill) */
    }

    #eqs-app-copyright-logo-light {
        display: none !important;
    }

    #eqs-app-copyright-logo-dark {
        display: inline-block !important;
    }

    #eqs-dark-theme-indicator {
        display: block !important;
    }

    .eqs-app-service-hosting {
        filter: contrast(0%) brightness(0%) invert(1) !important;
    }
}

#eqs-app-copyright-powered-by {
    margin-top: 20px;
}

#eqs-app-copyright-logo-dark {
    display: none;
}

#eqs-app-copyright-logo-light {
    display: inline-block;
}

html, body {
    background-color: var(--theme-main-bg);
    color: var(--theme-main-text);
    font-family: Inter, sans-serif;
    font-size: 12pt;
    line-height: 16pt;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#eqs-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
}

#eqs-loader-svg {
    width: 32px;
    height: 32px;
}

#eqs-app {
    position: fixed;
    inset: 0;
}

.eqs-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#eqs-app-nav-logo {
    width: 56px;
    height: 56px;
}

#eqs-app-nav {
    padding: 15px;
    z-index: 9;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--theme-nav-bg);
    border-bottom: 1px solid var(--theme-nav-border);
}

#eqs-app-content {
    margin-top: 107px;
}

#eqs-app-nav-inner {
    display: grid;
    grid-template-columns: 56px 1fr;
    grid-column-gap: 15px;
}

#eqs-app-nav-item-title {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

#eqs-app-nav-item-inner {
    font-weight: 600;
    font-size: 13pt;
    line-height: 16pt;
}

#eqs-app-nav-item-update {
    float: right;
    display: inline-flex;
    align-items: center;
    height: 100%;
}

#eqs-app-nav-item-update-inner {
    color: var(--theme-secondary-text);
}

#eqs-app {
    min-height: 500px;
    overflow: auto;
}

#eqs-app-loader {
    text-align: center;
    margin-top: 20px;
}

#eqs-app-error {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    text-align: center;
    margin: 20px;
}

#eqs-app-error-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 36px;
    height: 36px;
    margin-bottom: 20px;
}

#eqs-app-error-title {
    margin-bottom: 10px;
    font-size: 16pt;
    line-height: 20pt;
    font-weight: 600;
}

#eqs-app-error-message {
    margin-bottom: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    padding: 5px 15px;
    background-color: var(--theme-blue);
    border-radius: 5px;
    display: inline-block;
    border: none;
    font-family: Inter, sans-serif;
    font-size: 12pt;
    line-height: 16pt;
    color: var(--theme-btn-color);
}

#eqs-app-error-reload {
    margin-bottom: 20px;
}

#eqs-app-error-detail {
    color: var(--theme-secondary-text);
}

.btn:hover {
    background-color: var(--theme-blue-dim1);
}

.btn:active {
    background-color: var(--theme-blue-dim2);
}

.btn:focus, .btn:focus-visible, .btn:focus-within {
    box-shadow: 0 0 0 3px var(--theme-blue);
    outline: 1px solid var(--theme-main-bg);
}

#eqs-app-global {
    margin-top: 20px;
}

.eqs-box {
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 20px;
    background-color: var(--theme-secondary-bg);
}

.eqs-app-global-box-success, .eqs-app-service-status-success {
    background-color: var(--theme-green-bg);
}

.eqs-app-global-box-warning, .eqs-app-service-status-warning {
    background-color: var(--theme-yellow-bg);
}

.eqs-app-global-box-critical, .eqs-app-service-status-critical {
    background-color: var(--theme-red-bg);
}

.eqs-app-global-box-info, .eqs-app-service-status-info {
    background-color: var(--theme-blue-bg);
}

#eqs-app-global-box {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-column-gap: 20px;
}

#eqs-app-global-box-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
}

#eqs-app-global-box-icon-outer {
    display: flex;
    align-items: center;
}

#eqs-app-global-box-text, #eqs-app-global-box-ping {
    display: flex;
    align-self: center;
}

.eqs-container-lazy {
    display: none;
}

.eqs-container-show {
    display: block;
}

#eqs-app-breakdown-box-inner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 10px;
}

.eqs-app-breakdown-item {
    background-color: var(--theme-mono-fill);
    height: 12px;
    border-radius: 12px;
    display: flex;
    align-self: center;
    --eqs-app-breakdown-success: var(--theme-green);
    --eqs-app-breakdown-warning: var(--theme-yellow);
    --eqs-app-breakdown-critical: var(--theme-red);
    --eqs-app-breakdown-info: var(--theme-blue);
}

.eqs-app-breakdown-week {
    color: var(--theme-secondary-text);
}

#eqs-app-network-box-inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    display: grid;
}

#eqs-app-websites-box-inner {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    display: grid;
}

#eqs-app-servers-box-inner {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    display: grid;
}

.eqs-app-service {
    display: grid;
    grid-template-columns: 1fr max-content 56px;
}

.eqs-app-service-hosting {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    filter: contrast(0%) brightness(0%);
}

.eqs-app-service-hosting-img {
    width: 28px;
    height: 28px;
}

.eqs-app-service-label {
    display: flex;
    align-items: center;
}

.eqs-app-service-status {
    padding: 5px 10px;
    border-radius: 999px;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 5px;
}

.eqs-app-service-status-icon {
    display: flex;
    align-self: center;
    width: 20px;
    height: 20px;
}

.eqs-app-service-status-message {
    display: flex;
    align-self: center;
    height: 100%;
}

.eqs-app-service-link {
    color: var(--theme-link-main);
}

.eqs-app-service-link:hover {
    color: var(--theme-link-hover);
}

.eqs-app-service-link:active, .eqs-app-service-link:focus, .eqs-app-service-link:focus-visible, .eqs-app-service-link:focus-within {
    color: var(--theme-link-active);
}

#eqs-app-global-box-text-outer {
    display: grid;
    grid-template-columns: 1fr max-content;
}

#eqs-app-global-box-ping {
    color: var(--theme-secondary-text);
}

#eqs-app-nav-item-update-btn-icon {
    width: 16px;
    height: 16px;
    position: relative;
    left: -5px;
}

#eqs-app-nav-item-update-btn {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid var(--theme-btn-border);
    background-color: transparent;
}

#eqs-app-nav-item-update-btn:hover {
    background-color: var(--theme-mono-hover);
}

#eqs-app-nav-item-update-btn:active {
    border: 1px solid var(--theme-mono-active);
}

#eqs-app-nav-item-update-btn:focus, #eqs-app-nav-item-update-btn:focus-visible, #eqs-app-nav-item-update-btn:focus-within {
    border: 1px solid var(--theme-blue);
    outline: 1px solid var(--theme-blue);
}

@media (max-width: 700px) {
    #eqs-app-network-box-inner {
        grid-template-columns: repeat(1, 1fr);
    }

    #eqs-app-websites-box-inner {
        grid-template-columns: repeat(1, 1fr);
    }

    #eqs-app-servers-box-inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .eqs-app-nav-desktop {
        display: none;
    }

    #eqs-app-nav-logo {
        width: 32px;
        height: 32px;
    }

    #eqs-app-content {
        margin-top: 83px;
    }

    #eqs-app-version-separator {
        display: none;
    }

    #eqs-app-version {
        display: block;
    }
}

#eqs-app-copyright {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

#eqs-app-copyright-logo-dark, #eqs-app-copyright-logo-light {
    width: 128px;
}

#eqs-app-copyright-text {
    color: #6f737a;
    margin-top: 10px;
}

.eqs-ellipsis {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.eqs-section-title {
    font-weight: 500;
    margin-top: 10px;
    padding-bottom: 5px;
}

#eqs-dark-theme-indicator {
    display: none;
}
