#sp-app-content {
    margin-top: 128px;
}

#sp-app {
    min-height: 500px;
}

.sp-box {
    margin-bottom: 20px;
}

#sp-app-global-box {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-column-gap: 20px;
}

#sp-app-global-box-icon-outer {
    display: flex;
    align-items: center;
}

.sp-container-lazy {
    display: none;
}

.sp-container-show {
    display: block;
}

#sp-app-breakdown-box-inner {
    overflow: hidden;
    display: flex;
    align-items: end;
}

.sp-app-service {
    display: grid;
    grid-template-columns: 1fr max-content 56px;
}

.sp-app-service-label {
    display: flex;
    align-items: center;
}

.sp-app-service-status-icon {
    display: flex;
    align-self: center;
}

#sp-app-global-box-text-uptime, #sp-app-global-box-text-main {
    position: absolute;
    opacity: 1;
    transition: opacity 150ms;
}

#sp-app-global-box-text-uptime {
    opacity: 0;
}

#sp-app-global-box-text.sp-ellipsis {
    height: 22px;
}

#sp-app-global:has(#sp-app-global-box-text.sp-ellipsis):hover #sp-app-global-box-text-uptime,
#sp-app-global:has(#sp-app-global-box-text.sp-ellipsis).mobile-focus #sp-app-global-box-text-uptime,
#sp-app-global:has(#sp-app-global-box-text.sp-ellipsis):focus #sp-app-global-box-text-uptime {
    opacity: 1;
}

#sp-app-global:has(#sp-app-global-box-text.sp-ellipsis):hover #sp-app-global-box-text-main,
#sp-app-global:has(#sp-app-global-box-text.sp-ellipsis).mobile-focus #sp-app-global-box-text-main,
#sp-app-global:has(#sp-app-global-box-text.sp-ellipsis):focus #sp-app-global-box-text-main {
    opacity: 0;
}

#sp-app-breakdown-box-cursor {
    position: absolute;
    margin-top: -160px;
    height: 160px;
    transition: opacity 150ms;
    opacity: 0;
}

#sp-app-breakdown-box-cursor-line {
    height: 100%;
    width: 1px;
    background-image: linear-gradient(180deg, var(--local-success) 0%, var(--local-success-half) 100%);
}

#sp-app-breakdown-box-cursor-text {
    padding-top: 5px;
    padding-left: 5px;
    margin-top: -165px;
    margin-left: 2px;
    padding-right: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--local-success);
    width: max-content;
    font-size: 14px;
}

#sp-app-global-box {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#sp-app-breakdown-box {
    touch-action: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#sp-templates {
    display: none;
}

#sp-app-global-box-icon, .sp-app-service-status-icon, #sp-app-global-box-icon-outer {
    width: 10px;
    height: 10px;
}

#sp-redesign-status {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}

.sp-app-global-box-success, .sp-app-global-box-warning, .sp-app-global-box-critical, .sp-app-global-box-info {
    background-color: transparent;
}

#sp-app-global-box {
    border-bottom: none;
}

#sp-app-breakdown-box {
    border-top: none;
}

#sp-app-global-box-ping {
    justify-self: end;
}

#sp-app-global {
    border-radius: 10px;
}

#sp-app-global.sp-app-global-box-success {
    background-image: linear-gradient(175deg, var(--fella-positive-25) 0%, var(--fella-positive-0) 50%);
}

#sp-app-global.sp-app-global-box-warning {
    background-image: linear-gradient(175deg, var(--fella-warning-25) 0%, var(--fella-warning-0) 50%);
}

#sp-app-global.sp-app-global-box-critical {
    background-image: linear-gradient(175deg, var(--fella-negative-25) 0%, var(--fella-negative-0) 50%);
}

#sp-app-global.sp-app-global-box-info {
    background-image: linear-gradient(175deg, var(--fella-neutral-25) 0%, var(--fella-neutral-0) 50%);
}

.sp-app-service-status {
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 0;
    border-radius: 0;
}

.sp-app-service-status {
    background-color: transparent;
}

.sp-app-service {
    grid-template-columns: 16px 1fr max-content max-content;
}

.sp-app-global-box-success #sp-app-global-box-text-main {
    color: var(--fella-positive-100);
}

.sp-app-global-box-warning #sp-app-global-box-text-main {
    color: var(--fella-warning-100);
}

.sp-app-global-box-critical #sp-app-global-box-text-main {
    color: var(--fella-negative-100);
}

.sp-app-global-box-info #sp-app-global-box-text-main {
    color: var(--fella-neutral-100);
}

#sp-app-breakdown-box-cursor-text {
    background-color: transparent;
}

.sp-app-global-box-success, .sp-app-global-box-success * {
    --local-success: var(--fella-positive-100);
    --local-success-half: var(--fella-positive-50);
    --local-warning: var(--fella-positive-brighter-1);
    --local-danger: var(--fella-positive-brighter-2);
    --local-danger-reduced: var(--fella-positive-brighter-2-33);
    --local-danger-transparent: var(--fella-positive-brighter-2-0);
}

.sp-app-global-box-warning, .sp-app-global-box-warning * {
    --local-success: var(--fella-warning-100);
    --local-success-half: var(--fella-warning-50);
    --local-warning: var(--fella-warning-brighter-1);
    --local-danger: var(--fella-warning-brighter-2);
    --local-danger-reduced: var(--fella-warning-brighter-2-33);
    --local-danger-transparent: var(--fella-warning-brighter-2-0);
}

.sp-app-global-box-critical, .sp-app-global-box-critical * {
    --local-success: var(--fella-negative-100);
    --local-success-half: var(--fella-negative-50);
    --local-warning: var(--fella-negative-brighter-1);
    --local-danger: var(--fella-negative-brighter-2);
    --local-danger-reduced: var(--fella-negative-brighter-2-33);
    --local-danger-transparent: var(--fella-negative-brighter-2-0);
}

#sp-redesign-copyright {
    margin-bottom: 100px;
}

#sp-redesign-footer {
    display: grid;
    grid-template-columns: 1fr max-content;
}

#sp-redesign-footer-logo {
    display: flex;
    align-self: center;
}

#sp-redesign-footer-logo-img {
    height: 32px;
}

#sp-app-breakdown-box-cursor-text.left {
    margin-left: -210px;
    text-align: right;
    width: 200px;
}

#sp-app-copyright-powered-by-img {
    border: 1px solid var(--fella-border-vercel);
    border-radius: 5px;
}

.sp-app-service-status {
    width: 110px;
    color: var(--fella-text-tertiary);
    justify-content: end;
}

.sp-app-global-box-info #sp-app-global-box-text-outer, .sp-app-global-box-info #sp-app-global-box {
    display: block;
}

.sp-app-global-box-info #sp-app-global-box {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--fella-border-plain);
}

.sp-app-global-box-info #sp-app-breakdown-box, .sp-app-global-box-info #sp-app-global-box-icon-outer {
    display: none;
}

@media (max-width: 700px) {
    .sp-app-service-hosting {
        border: none;
    }

    .sp-redesign-hosting-label {
        display: none;
    }
}

@media (prefers-reduced-motion) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

#sp-app-global-box-text-uptime, #sp-app-global-box-ping {
    color: var(--fella-text-secondary);
}

#sp-app-breakdown-svg {
    transform: rotateY(180deg);
}

.sp-app-global-box-info #sp-app-global-box-text-main {
    position: initial;
}