<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Equestria.dev Status</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.min.js"></script>
    <script src="/chart.js"></script>
    <link rel="icon" href="/logo2.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="banner" class="pt-5 pb-5 text-white" style="background-color: #ddd; text-align: center; background-image: url('/background.png'); background-size: cover; background-position: center;">
    <img src="/banner2.svg" style="width: 128px; max-width: 100%;" alt="Equestria.dev">
</div>

<div id="page"></div>

<script>
    fetch("/content.html").then((res) => {
        res.text().then((text) => {
            document.getElementById("page").innerHTML = text;
            eval(document.getElementById("page-script").innerText);
        });
    });

    setInterval(() => {
        fetch("/content.html").then((res) => {
            res.text().then((text) => {
                document.getElementById("page").innerHTML = text;
                eval(document.getElementById("page-script").innerText);
            });
        });
    }, 30000);
</script>
</body>
</html>